<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travis.center.common.mapper.support.DynamicConfigInfoMapper">
  <resultMap id="BaseResultMap" type="org.travis.center.common.entity.support.DynamicConfigInfo">
    <!--@mbg.generated-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CONFIG_NAME" jdbcType="VARCHAR" property="configName" />
    <result column="CONFIG_VALUE" jdbcType="VARCHAR" property="configValue" />
    <result column="CONFIG_DESCRIPTION" jdbcType="VARCHAR" property="configDescription" />
    <result column="CONFIG_TYPE" jdbcType="INTEGER" property="configType" />
    <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
    <result column="IS_FIXED" jdbcType="INTEGER" property="isFixed" />
    <result column="UPDATER" jdbcType="BIGINT" property="updater" />
    <result column="CREATOR" jdbcType="BIGINT" property="creator" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CONFIG_EXAMPLE" jdbcType="VARCHAR" property="configExample" />
    <result column="AFFILIATION_MACHINE_ID" jdbcType="BIGINT" property="affiliationMachineId" />
    <result column="AFFILIATION_TYPE" jdbcType="INTEGER" property="affiliationType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CONFIG_NAME, CONFIG_VALUE, CONFIG_DESCRIPTION, CONFIG_TYPE, IS_DELETED,
    UPDATER, CREATOR, UPDATE_TIME, CREATE_TIME, CONFIG_EXAMPLE, IS_FIXED, AFFILIATION_MACHINE_ID, AFFILIATION_TYPE
  </sql>
</mapper>
