<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travis.center.common.mapper.monitor.IpmiLogInfoMapper">
  <resultMap id="BaseResultMap" type="org.travis.center.common.entity.monitor.IpmiLogInfo">
    <!--@mbg.generated-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="IPMI_NAME" jdbcType="VARCHAR" property="ipmiName" />
    <result column="IPMI_IP" jdbcType="VARCHAR" property="ipmiIp" />
    <result column="IPMI_PORT" jdbcType="VARCHAR" property="ipmiPort" />
    <result column="IPMI_TIMESTAMP" jdbcType="BIGINT" property="ipmiTimestamp" />
    <result column="IPMI_DATA" jdbcType="VARCHAR" property="ipmiData" />
    <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
    <result column="UPDATER" jdbcType="BIGINT" property="updater" />
    <result column="CREATOR" jdbcType="BIGINT" property="creator" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, IPMI_NAME, IPMI_IP, IPMI_PORT, IPMI_TIMESTAMP, IPMI_DATA, IS_DELETED, UPDATER,
    CREATOR, UPDATE_TIME, CREATE_TIME
  </sql>
</mapper>
