<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travis.center.common.mapper.support.OperationLogMapper">
  <resultMap id="BaseResultMap" type="org.travis.center.common.entity.support.OperationLog">
    <!--@mbg.generated-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="OPERATION_STATE" jdbcType="INTEGER" property="operationState" />
    <result column="IP_ADDRESS" jdbcType="VARCHAR" property="ipAddress" />
    <result column="REQUEST_URL" jdbcType="VARCHAR" property="requestUrl" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="REQUEST_METHOD" jdbcType="VARCHAR" property="requestMethod" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="BUSINESS_TYPE" jdbcType="INTEGER" property="businessType" />
    <result column="REQUEST_PARAMS" jdbcType="LONGVARCHAR" property="requestParams" />
    <result column="RESPONSE_INFO" jdbcType="LONGVARCHAR" property="responseInfo" />
    <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
    <result column="UPDATER" jdbcType="BIGINT" property="updater" />
    <result column="CREATOR" jdbcType="BIGINT" property="creator" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ERROR_MESSAGE" jdbcType="LONGVARCHAR" property="errorMessage" />
    <result column="COST_TIME" jdbcType="BIGINT" property="costTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, OPERATION_STATE, IP_ADDRESS, REQUEST_URL, USER_ID, "METHOD", REQUEST_METHOD,
    TITLE, BUSINESS_TYPE, REQUEST_PARAMS, RESPONSE_INFO, IS_DELETED, UPDATER, CREATOR,
    UPDATE_TIME, CREATE_TIME, ERROR_MESSAGE, COST_TIME
  </sql>
</mapper>
